# Telemetry Database connection settings for local development port changed to 5433!!!!!!
TELEMETRY_DB_NAME=iot_hub_alpha_telemetry_db
TELEMETRY_DB_USER=postgres
TELEMETRY_DB_PASSWORD=postgres
TELEMETRY_DB_HOST=telemetry-db
TELEMETRY_DB_PORT=5433
TELEMETRY_DB_CONNECT_TIMEOUT=10